<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="fileLogger" fileName="log/rollingFile.log" filePattern="${basePath}/rolling-file-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name= "ru.pochivalin.congrat.Person" level="error" additivity="false">
           <AppenderRef ref="Console"/>
           <AppenderRef ref="fileLogger"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>


</Configuration>